ul{
    list-style: none;
    padding: 0px;
}
.bacic-info-wrapper{
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrapper{
    margin-top: 50px;
    width: 600px;
    border: 1px solid #8D8D8D;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(204, 198, 198, 0.2);
    padding: 20px;
    font-family: "Google Sans",
        arial,
        sans-serif;
    }
    .weather-temperature .active{
        color: black;
        cursor: default;
        text-decoration: none;
    }

    
    li::first-letter{
    text-transform: capitalize;

}
#city{
    color: #202124;
    font-size: 22px;
    line-height: 26px;
}
#temp{
    font-size: 48px;
    margin-left: 10px;
}
#icon{
    position: relative;
    top: -20px;
}
#units{
    position: relative;
    top: -25px;
}
#search-form{
    margin-bottom: 20px;
}