li {
        color: #70757a;
        font-size: 16px;
        line-height: 20px;
        list-style: none;
        padding: 0px;
}

.bacic-info-wrapper{
    margin-bottom: 20px;
    margin-top: 20px;
}
.weather-app-wrapper{
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.wrapper{
    padding: 20px 0px 0px 20px;
    border: 1px solid #8D8D8D;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(204, 198, 198, 0.2);
    font-family: "Google Sans",
        arial,
        sans-serif;
    }
.weather-temperature .active{
    color: black;
    cursor: default;
    text-decoration: none;
}
.overwiev{
    margin-bottom: 20px;
}
    
li::first-letter{
    text-transform: capitalize;

}
#city{
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0px;
}
#temp{
    font-size: 55px;
    margin-left: 0px;
}
#icon{
    position: relative;
    top: -20px;
}
#units{
    position: relative;
    top: -25px;
}
#search-form{
    margin-bottom: 20px;
}
a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}